<app-bread-crumb [routes]="[{name: 'Contact-Us', route: ''}]"></app-bread-crumb>

<div class="row border-bottom pb-2">
    <div class="col-sm-6 col-12">
        <div class="row">
            <div class="col-6" *ngFor="let address of addresses">
                <h4>{{address.country}}</h4>
                <p>{{address.address}} <br />{{address.contact}}</p>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-12">
        <div class="contact__form">
            <div class="row">
                <div class="col-lg-6">
                    <input type="text" class="form-control" placeholder="Name">
                </div>
                <div class="col-lg-6">
                    <input type="text" class="form-control" placeholder="Email">
                </div>
                <div class="col-lg-12">
                    <textarea placeholder="Message" class="form-control"></textarea>
                    <button type="submit" class="btn btn-primary btn-sm float-right">Send Message</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Contact Section End -->