@import "../../../assets/sass/variables";

.navbar {
    background-color: white;

    .container-fluid {
        .nav-links {
            .nav-item {
                padding: 15px;

                a {
                    color: $nav-text-color;
                    padding: 5px 0;
                    text-transform: uppercase;
                    font-family: 'Opensans-Semibold', sans-serif;
                    border: 3px solid transparent;
                }
            }
        }
        

        .menu-icons {
            a {
                font-size: 15px !important;
                padding: 0 10px;
                cursor: pointer;

                &:last-child {
                    padding-left: 15px;
                }
            }
        }
    }
}