<div class="card mt-4">
    <img src="../../../assets/images/{{product.image}}.jpg" height="350" class="card-img-top" alt="...">
    <div class="card-body">
        <div class="card-title mb-0 pb-2">{{product.brand}}</div>
        <div class="card-text pb-2">{{product.name}}</div>
        <div class="card-text pb-2"><ngb-rating [rate]="product.rating" [readonly]="true" [max]="5" /></div>
        <div class="d-flex justify-content-between">
            <div>
                <span class="card-text">{{product.price | currency: 'INR':'symbol':'0.0-0'}}</span>
            </div>
            <div>
                <a href=""><i class="bi bi-heart"></i></a>
            </div>
        </div>
    </div>
</div>