<app-bread-crumb [routes]="breadcrumbs"></app-bread-crumb>

<div class="row border-bottom pb-2">
    <div class="col-lg-2 d-flex justify-content-between">
        <h5>Filters</h5>
    </div>
    <div class="col-lg-10">
        
    </div>
</div>

<div class="row border-bottom pb-3">
    <div class="col-md-2 col-sm-4 col-12">
        <app-filter [searchQuery]="searchTerm" (sendFilter)="handleFilter($event)"></app-filter>
    </div>
    <div class="col-md-10 col-sm-8 col-12">
        <app-spinner></app-spinner>
        <div class="row">
            <div class="col-md-3 col-6" *ngFor="let p of filteredProducts">
                <app-short-details [product]="p"></app-short-details>
            </div>
        </div>

        <div class="row" *ngIf="totalRecords > 0">
            <div class="col-12">
                <app-paginator [totalRecords]="totalRecords" [page]="page + 1" (sendCurrentPage)="pageChanged($event)"></app-paginator>
            </div>
        </div>
    </div>
</div>