<div class="row border-bottom pb-2">
    <div class="col-lg-2">
        <h5>Filter</h5>
    </div>
    <div class="col-lg-10">
        
    </div>
</div>

<div class="row border-bottom pb-3">
    <div class="col-lg-2">
        <app-filter></app-filter>
    </div>
    <div class="col-lg-10">
        <div class="row">
            <div class="col-lg-3" *ngFor="let i of [1,2,3,4,5,6,7,8,9,10]">
                <app-short-details></app-short-details>
            </div>
        </div>
    </div>
</div>