/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import './assets/sass/variables';
@import 'bootstrap/scss/bootstrap';

@font-face {
    font-family: 'Opensans-Regular';
    src: url('./assets/fonts/OpenSans-Regular.ttf');
}

@font-face {
    font-family: 'Opensans-Semibold';
    src: url('./assets/fonts/OpenSans-SemiBold.ttf');
}

@font-face {
    font-family: 'Opensans-Bold';
    src: url('./assets/fonts/OpenSans-Bold.ttf');
}

body {
    font-family: 'Opensans-Regular', sans-serif;
    font-size: 13px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'OpenSans-SemiBold', sans-serif;
}

.container-fluid {
    padding: 0 30px;

    @media only screen and (max-width: 1000px) {
        padding: 0 calc(var(--bs-gutter-x) * 0.5);
    }
}

.page-layout {
    margin: 100px 0 30px;
}

.form-control {
    font-size: 13px;
}

.bi {
    color: black;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
    filter: invert(1);
}

.btn-primary {
    background-color: $black-color;
    border: none;

    &:hover {
        background-color: $black-color;
    }
}

.popover {
    max-width: 100%;
    /* Max Width of the popover (depending on the container!) */
}

.discount {
    color: $discount-color;
}

.pagination-custom {
    list-style: none;
    text-align: center;
    padding-top: 24px;
    padding-bottom: 60px;
    color: #282c3f;

    >li {
        display: inline-block;
        margin-right: 9px;
        font-weight: 700;
        cursor: pointer;
        padding: 6px 8px;
        border-radius: 2px;
        border: none;

        &:hover {
            background: none;
        }

        &.active {
            .page-link {
                background-color: $black-color;
            }
        }

        &.disabled {
            border-radius: none;
            .page-link {
                background: none;
                border-radius: none;
            }
        }

        a {
            border: none !important;
            text-decoration: none;
            color: $black-color;

            &:hover {
                border: 1px solid $black-color;
                color: $black-color;
                background-color: white;
            }
        }
    }
}