/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';

@font-face {
    font-family: 'Opensans-Regular';
    src: url('./assets/fonts/OpenSans-Regular.ttf');
}

body {
    font-family: 'Opensans-Regular', sans-serif;
    font-size: 13px;
}

.page-layout {
    margin: 100px 0;
}

.form-control {
    font-size: 13px;
}

.bi {
    color: black;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
   filter: invert(1);
}