/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';
@import './assets/sass/variables';

@font-face {
    font-family: 'Opensans-Regular';
    src: url('./assets/fonts/OpenSans-Regular.ttf');
}

@font-face {
    font-family: 'Opensans-Semibold';
    src: url('./assets/fonts/OpenSans-SemiBold.ttf');
}

body {
    font-family: 'Opensans-Regular', sans-serif;
    font-size: 13px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'OpenSans-SemiBold', sans-serif;
}

.container-fluid {
    padding: 0 30px;

    @media only screen and (max-width: 1000px) {
        padding: 0 calc(var(--bs-gutter-x) * 0.5);
    }
}

.page-layout {
    margin: 100px 0 30px;
}

.form-control {
    font-size: 13px;
}

.bi {
    color: black;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
    filter: invert(1);
}

.btn-primary {
    background-color: $black-color;
    border: none;

    &:hover {
        background-color: $black-color;
    }
}