$black-color: #333333;
$white-color: #ffffff;
$nav-text-color: #111111;

$theme-color-pink: #ff3f6c;
$discount-color: #ff905a;
$form-check-input-checked-bg-color: $theme-color-pink;
$focus-ring-box-shadow: none;
$input-focus-border-color: none;
$card-border-radius: 0;